<p-table
  #dt1
  [value]="doctors"
  [paginator]="true"
  [rows]="3"
  [showCurrentPageReport]="true"
  responsiveLayout="scroll"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [globalFilterFields]="['dName', 'dId', 'dEmail', 'dExp']"
  [lazy]="true" 

  [loading]="loading"
>
<ng-template pTemplate="caption">
  <div class="flex">
      <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"></button>
      <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
      </span>
  </div>
</ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>
      <p-columnFilter type="text" field="dId" display="menu"></p-columnFilter>
    </th>
    <th>
      <p-columnFilter type="text" field="dName" display="menu"></p-columnFilter>
    </th>
    <th>
      <p-columnFilter type="text" field="dEmail" display="menu"></p-columnFilter>
    </th>
    <th>
      <p-columnFilter type="text" field="dAge" display="menu"></p-columnFilter>
    </th>
    <th>
      <p-columnFilter type="text" field="dExp" display="menu"></p-columnFilter>
    </th>
      

      <!-- <th pSortableColumn="dId">ID</th>
      <th pSortableColumn="dName">Name</th>
      <th pSortableColumn="dEmail">Email</th>
      <th pSortableColumn="dAge">Age</th>
      <th pSortableColumn="dExp">Exp</th>
      <th>ACTION</th> -->
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-d>
    <tr>
      <th>{{ d.dId }}</th>
      <td>{{ d.dName }}</td>
      <td>{{ d.dEmail }}</td>
      <td>{{ d.dAge }}</td>
      <td>{{ d.dExp }}</td>
      <td>
        <button class="btn btn-danger" (click)="deleteDoctor(d.dId)">
          DELETE
        </button>
        <a [routerLink]="['/editdoctor/', d.dId]" class="btn btn-primary"
          >update</a
        >
      </td>
    </tr>
  </ng-template>
</p-table>
