<h1>PIPE</h1>
<p>{{today | date}}</p>
<p>{{today | date:'medium'}}</p>
<p>{{today | date:'shortTime'}}</p>
<p>{{today | date:'full'}}</p>
<p>{{today | date:'short'}}</p>
<p>{{today | date:'mm:ss'}}</p>

<p>name = {{name | uppercase}}</p>
<p>last name = {{lastname | lowercase}}</p>
<p>last name = {{title | titlecase}}</p>

<p>Balance = {{bal | currency}}</p>
<p>Balance = {{bal | currency:'CAD'}}</p>
<p>Balance = {{bal | currency:'INR'}}</p>

<p>marks = {{marks | percent:'4.4-5'}}</p>
<p>
    {{amount | tranform:'5'}}
</p>
<p>
    {{0|convert}}
</p>

<p>
    {{100 |currencycon : 'INR'}}
</p>

