<div>
    <form [formGroup]="doctorGroup" (submit)="updateDoctor()">
      <div>
        <label>Name</label>
        <input type="text" #dName (input)="dName.value" [(ngModel)]="doctor.dName"  formControlName="dName"/>
        
        <span
          *ngIf="
            doctorGroup.controls.dName.errors && doctorGroup.controls.dName.dirty"
        >
          Name is requried
        </span>
      </div>
      <div>
        <label>Phone</label>
        <input type="text" formControlName="phone"  [(ngModel)]="doctor.dExp"/>
       
       
      </div>
      <div>
        <input type="submit" value="Add Doctor" />
      </div>
    </form>
  </div>
  